h2 {
	margin: 10px 0;
	padding: 0;
}

form {
	width: 75%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
	border: 2px solid black;
}

label {
	min-width: 100px;
	display: inline-block;
}

hr { 
	display: none;
}

body {
	background-color: gray;
}

.delete-button {
	font-size: 3em;
	margin: 0;
	padding: 0;
}

.sighting-list{
	display:grid;
	text-align: center;
	padding: 20px;
	margin: 20px;
}

.sighting-item {
	width:400px;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid black;
	background-color: aliceblue;
}